{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <h1>Settings</h1>

    <a href="{{ path('homepage') }}">Homepage</a>

    {{ form_start(form) }}
    {{ form_row(form.cardOrder) }}

    <h3>Cards</h3>
    <div class="cards">
        {% for card in form.cards %}
            <div class="card">
                <ul class="tags" style="display: inline-flex">
                    <li style="display: block">{{ form_row(card.sideA) }}</li>
                    <li style="display: block">{{ form_row(card.sideB) }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>

    {{ form_end(form) }}
    <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a tag</button>


    <script type="application/javascript">
        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete this tag';
            item.append(removeFormButton);
            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }
        const addFormToCollection = () => {
            const cardUl = document.querySelector('.card ul');
            const cardUlClone = cardUl.cloneNode(true);
            const emptyDiv = document.createElement("div");
            emptyDiv.className = "card";
            emptyDiv.appendChild(cardUlClone);
            const cards = document.querySelector('.cards');
            cards.appendChild(emptyDiv);
            addTagFormDeleteLink(emptyDiv);
            //cardUl.dataset.index++;
        };
        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });
        document.querySelectorAll('.card').forEach((tag) => {
            addTagFormDeleteLink(tag)
        })
    </script>

{% endblock %}
